<style>
    .footer-links {
        display: flex;
        gap: 10px;
    }
</style>
<div class="footer-links">
    <a href="https://github.com/Pythonistas-GDL">[GitHub]</a>
    <a href="https://www.facebook.com/PythonistasGdl/">[facebook]</a>
    <a href="https://www.instagram.com/pythonistas_gdl/">[instagram]</a>
    <a href="https://x.com/pythonistas_gdl/">[twitter]</a>
    <a href="https://www.youtube.com/@PythonistasGDL">[youtube]</a>
    <a href="https://www.tiktok.com/@pythonistas_gdl">[tiktok]</a>
    <a href="https://www.linkedin.com/groups/13193010/">[linkedIn]</a>
    <a href="https://discord.gg/HcvW3r2Wfu">[Discord]</a>
</div>