name: Deploy to GitHub Pages
on:
  push:
    branches: ["main"]
  workflow_dispatch:
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      pages: "write"
      id-token: "write"
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true
      
      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
      
      - name: Install dependencies
        run: |
          pip install 'pelican[markdown]==4.11.0'
          pip install 'pelican-sitemap==1.2.2'
      
      - name: Build site
        run: |
          pelican content -o output -s publishconf.py
      
      - name: Setup Pages
        uses: actions/configure-pages@v4
      
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: './output'
      
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4